@font-face {
    font-family: 'Amithen';
    src: url(..//fonts/Amithen.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Photo */
#backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgroundtext {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
    text-align: center;
    padding: 10px;
    max-width: 90%;
    box-sizing: border-box;
    font-family: 'Amithen';
    word-spacing: 10px;
}

/* Content box */
.content-box {
    background-color: rgb(255, 255, 255);
    color: #034563;
    padding: 5px 50px;
    margin: 20px auto;
    margin-top: 70px;
    width: 80%;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin-top: 100vh;

}

.descriptivetext {
    position: relative;
    color: #ffffff;
    margin-top: 10vh;
    color: black;
    padding: 0 80px;
    font-size: 20px;
}

/* Events section */
.containerevent {
    display: flex;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contenticon {
    width: 25px;
    margin-right: 5px;
    padding-bottom: 6px;
}

#dateicon {
    width: 20px;
    margin-right: 5px;
    padding-bottom: 6px;
    margin-left: 2px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location {
    display: flex;
    align-items: center;
}

.location h4 {
    display: flex;
    align-items: center;
    word-spacing: -5px;
}

.date {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.location h4,
.date h5 {
    margin: 0;
    padding: 0;
}

.location,
.date {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}


.event-info {
    display: flex;
    flex-direction: column;
}

.event-info>div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.event-location,
.event-date {
    display: flex;
    align-items: center;
}



.containerevent:nth-child(even) {
    flex-direction: row-reverse;
}

.imageevent {
    width: 50%;
    outline: 1px solid white;
    outline-offset: -20px;
}

.imageevent img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.content {
    padding: 20px;
    width: 50%;
    text-align: left;
}

.content h2 {
    font-size: 2em;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content h4 {
    font-family: 'Courier New', Courier, monospace;
}

.content p {
    color: #666;
    line-height: 1.6;
}

.content a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}


/* Media queries */
@media (min-width: 768px) {
    .content-box {
        width: 70%;
        padding: 20px;
    }

    .containerevent {
        flex-direction: row;
        height: 400px;
    }

    .imageevent {
        width: 50%;
    }

    .content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .user-options {
        margin-top: 10px;
    }

    #backgroundimg {
        height: 60vh;

        .content-box {
            width: 90%;
            padding: 15px;
        }

        .containerevent {
            flex-direction: column;
            height: auto;
        }

        .imageevent {
            width: 100%;
        }

        .content {
            width: 100%;
        }
    }


    @media (max-width: 768px) {
        .navbar a {
            font-size: 20px;
        }

        .content-box {
            font-size: 18px;
        }

        .content h2 {
            font-size: 1.5em;
        }

        .content p {
            font-size: 16px;
        }
    }


    @media (max-width: 768px) {
        .imageevent img {
            width: 100%;
        }

        .containerevent:nth-child(even) {
            flex-direction: column;
            height: auto;
        }

        .content-box {
            height: 100vh;
        }


    }

    @media (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }

        .footer-left,
        .footer-right {
            margin-bottom: 20px;
        }

        .social-media {
            margin-bottom: 10px;
        }

        .footer-right form {
            flex-direction: column;
            align-items: flex-start;
        }

        .footer-right input[type="email"] {
            width: 100%;
        }
    }
}